<h2>My Todo App</h2>

<input type="text" [(ngModel)]="todoText" placeholder="Enter a task"/>
<br><br>
<button (click)="handleClick()">Add</button>

<div>
  <button (click)="setFilter('all')">All</button>
  <button (click)="setFilter('active')">Active</button>
  <button (click)="setFilter('completed')">Completed</button>
</div>

<ul>
  <li *ngFor="let todo of filteredTodos; let i = index">
    <input type="checkbox" (change)="toggleComplete(i)" [checked]="todo.isCompleted" />

    <span [ngClass]="{ 'completed': todo.isCompleted }">
      {{ todo.title }}
    </span>

    <button (click)="handleDelete(i)">Delete</button>
  </li>
</ul>

<style>
  .completed {
  text-decoration: line-through;
  color: gray;
}
</style>